// menu button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeout;

    .btn-line{
        width: 28px;
        height: 2.5px;
        margin: 0 0 5px 0;
        background: whitesmoke;
        @include easeout;
    }

    // Rotate into an x with with menu lines
    &.close {
        transform: rotate(180deg);

        .btn-line{
            // Line 1: Rotate it
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
            }

            // Line 2: Delete it
            &:nth-child(2){
                opacity: 0;
            }

            // Line 3: Rotate it
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// Creating the menu overlay
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show{
        visibility: visible;
    }
    
    //Styling fro bot branding and nav 
    &-branding, &-nav { // the &- is like saying .menu-branding 
        display: flex;
        flex-flow: column wrap; //Makes it into a column
        align-items: center; // centers vertically
        justify-content: center; // centers horizontally
        float: left;
        width: 50%; // split it in have
        height: 100vh;
        overflow: hidden;

    }

    // Nav specific scss
    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5 );
        list-style: none;
        transform: translate3d(0,-100%,0);
        @include easeout;

        &.show {
            transform: translate3d(0,0,0)
        }
    }

    // Branding specific scss
    &-branding {
        background: $primary-color;
        transform: translate3d(0,100%,0);
        @include easeout;

        &.show {
            transform: translate3d(0,0,0)
        }

        .portrait{
            height: 250px;
            width: 250px;
            border-radius: 50%;
            border: solid 3px $secondary-color;
            background:  url('https://lh3.googleusercontent.com/fgEgdx9SblEgrthkJCCEhGWpPM9jcQUXibMPEOdjMlC9TAEcY7sfXNfohk3wcJTkSf_-_j4PJkz7-DvDbZ0-UCleviGLRBtVHPP-wGMlKRPGUAb23MG1Zp4RDH6qF82yxMeO4wGC4rzGOBwQaaV06uAFxKuby_IgLHw7anyku1bY76zDeiLEGL8ji5St_qjTjZ2ft6ElubldmPyen5DFChHQ-X9ARU586rL9tWIi4EoTCGXMnbgqMsUh2QB49E4Cif5jZHi3RQsLKKHIvLLCVDqD_9YfGdLmMQQULox1G_u0h1-zWlYRZDpzYPMZbu_SW1iDSqRe9PnFW2O3_BTxSMSJ6_juaWNPicbn_yH_wVihlp3qttmNIxF_Q7Ddu69K6ebsh52rwOm_UrZeoH2ZItV1kfRZfl2nE_CiwiE9QlHj7uiDwvrLWw4luYuqaJhZ0eQFzF2O9IHvdnLGWqMht9n_FXluwtrKBG_r9ec424Er9McJ8ssOc_-LXJvy6uBZe1rmgA7fyNL2jw2LA0Hef9T2E1g7zAjPt2zTpfMFEta8kO8Mma3nMwF02a5MXX2cPQ6drpbiRrPBt49_22mhZSIzM-gUgg8ZE3TKxVMDKHHQD-X6z5R5kdEswPlg-uLeSTuy6pWik8ZiASNTb6OY7xGUKvLWQxiv=w659-h878-no');
            background-attachment: fixed;
            background-size: cover;
            background-position-y: -25px; // SHift picture up a little
        }
    }

    // Nav links
    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 0;
        font-weight: 300;
        color: whitesmoke;
        @include easeout;

        &:hover{
            color: $secondary-color;
            transition: all 0.3s ease-out
        }
    }
    // Nav items
    .nav-item {
        transform: translate3d(600px,0,0);
        @include easeout;

        &.show {
            // Slide in from the right
            transform: translate3d(0,0,0);
        }

        &.current > a {
            color: $secondary-color;
        }
        
    }
}

// Delay ech nav-item by .1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}