// Wide screens

@include mediaXL {

}

// Desktops and Laptops

@include mediaLg {

}

// tablets and small laptops

@include mediaMd {
    main{
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav, 
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav { 
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
        
    }
    .menu-branding { 
        height: 25vh;
        transform: translate3d(100%,0,0);

        .portrait {
            background: url('https://lh3.googleusercontent.com/RtLLP1yl7IY9T5dhSkKMfXjSf6GlzEFjQp2gLhvcVG-gx4X7Qm0UXiH3ZVGA6D2ZRdqqWw5f4f1-YbheJ_ghtNXpmTHASMj7P5SJzFTCSYD08qOfvx_U09ZAkejCu0QVCGy-9xYEt4oMTNTIa1ijbNIylkrNpduOH-l--49udjsIlL0sVqLxb5HPMXisPJWyyGrOOZZLGKm379jVX8oKnv2ZmuQ71pXT66BdqdoYO9GEPSVvOAHoXhUJRZ1Xbfm5WfIWDB4BEfhP7uTgwsUz1qdAm3v_U3yUEF26GSODG6hQlwSnZDOvPrMs1T8tBg_PPXCq0atLFZ6YQzMRk1M5_JNcMYmEnoInmR01vTD8Ex1pANaeC2mrbtKoK9aMNunLlCotJpAulKVryYEgQZr0ixXLuQiCSgasHjdfDfT6QjFDVm7XPtMx2sEUcGbj60xazjtM0EqiZlFH9xpYIWa3WCjs8c_lOQQvNUNVX_p5nxc96yNQMiVWXGmDSIRa0Hxqzt1KUdB1NfRe3SFYAU_1mb73XpLzNUPEG7g591z2YeQvdmpmWH7FWaz0XqXV8IL7bm7tRx1pcstQ9udAqV30UIdaY8bNys7UzeN9L9vMbOxefrrEVUmNVicCSH1kvUcCNqD5KbdmQ1TMblhn34RNaQzChM9aN-FW=w495-h879-no');
            width: 120px;
            height: 120px;
            background-attachment: fixed;
            background-size: cover;
            background-position-y: -25px; // SHift picture up a little
        }
    }

    .about-info { 
        grid-template-areas: 
        'bio-image' 
        'bio'
        'job1' 
        'job2' 
        'job3';

        grid-template-columns: 1fr;
    }

}

// Smartphones

@include mediaSm {
    main#home h1{
        margin-top: 10vh;
    }
}

