@import 'config'; 
@import 'menu';
@import 'mobile';

// Box sizing property for everything.
* {
    box-sizing: border-box;
}

body{
    @include background;
    background: $primary-color;
    color: whitesmoke;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, Geneva,  sans-serif;
    line-height: 1.5;
}

// headings
h1,h2,h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 5rem;
    }
    &.sm-heading {
        // margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2),0.5)
    }
}

// links 
a {
    color: whitesmoke;
    text-decoration: none;
}

// header
header {
    position: fixed; // So it stays at the top even if you scroll

    // Determines how close is the object to you in terms of "layers"
    z-index: 2; 
    width: 100%;

}

// Latname color 16:20
.text-secondary{
    color: $secondary-color;
}

main{
    padding: 2rem 4rem;
    height: 100%;

    .icons{
        margin-top: 1rem;
        font-size: 1.4rem;
        a{
            padding: 0.4rem;
            
            &:hover{
                color: $secondary-color;
                @include easeout()
            }
        }
    }

    &#home {
        height: 100vh; // TODO: this fixed scroll bar issue with overflow but clips content if window is too small.
        overflow: hidden; // This eliminates scrollbars
        h1 {
            margin-top: 20vh;
        }
    }
}